@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        body {
            background-image: url( https://tse2.mm.bing.net/th?id=OIP.aYJviSN65CFTHkHbkYYyOQHaHa&pid=Api&P=0&h=180);
            font-size: 40px;
            font-weight: bolder;
            margin-bottom:0;

        }

        p{
            font-size: 20px;
        }

        .titre{
            background-color: #E31C79;
            color: white;
            padding: 10px; 
            font-size: 24px; 
            font-weight:bolder;
            border:10px solid white;
            border-bottom: 5px solid white;
            border-radius: 15px;
            margin: 0;
        }

        .image-Vache-Div{
            background: linear-gradient(to bottom, #E31C79, #4169e1);
            padding:15px;
            border:10px solid white;
            border-bottom: 5px solid white;
            border-top: 5px solid white;
            border-radius: 15px;
            align-items: center;
            margin: 0;
        }

        .image-Vache{
            border: 5px solid white;
            border-radius: 15px;
            width: 550px;
            height: auto;
            margin:10px;
        }

        .info-Vache-Div{
            color:white;
            display:flex;
            justify-content:space-around;
            border: 5px solid aquamarine;
        }

        .info-Vache-Section{
            border: 5px solid aquamarine;
            padding:5px;
            margin:20px;
        }

        .info-Vache-Titre-1 {
            color: yellow;
            font-weight: bolder;
            border: 5px solid yellow;
        }

        .info-Vache-Titre-2{
            color: aquamarine;
            font-weight:bolder;
        } 


        .milieu-Div{
            background-color: #4169e1;
            padding: 15px;
            color:white;
            border:10px solid white;
            border-bottom: 5px solid white;
            border-top: 5px solid white;
            border-radius: 15px;
            text-align: left;
        }

        .commandes-Div{
            background: linear-gradient(to bottom, #4169e1, #E31C79);
            padding: 15px;
            color: white;
            border:10px solid white;
            border-bottom: 5px solid white;
            border-top: 5px solid white;
            border-radius: 15px;
            text-align: left;

            display:flex;
            justify-content: space-around;
        }

        .footer1 {
            background-color: black;
            color: white;
            padding: 35px;
            font-size: 24px;
            border-top: 10px solid white;
            text-align: center;
        }

        .boutons-Div{
            border: 15px dotted white;
            border-radius: 15px;
            height: auto;
            padding:15px;
            padding-left: 300px;
            padding-right: 300px;
            text-align:center;
        }

        .boutons{
            padding: 15px;
            width: 30%;
            font-size:30px;
            background: #0a998c;
            border: 5px;
            border-radius: 30px;
        }

        .boutons:hover{
            background: orange;
        }

        .footer{
            background:black;
            color: white;
            padding:100px;
        }

        .diviseur{
            display: flex;
            justify-content: space-between;
        }

        .droit-section {
            width: 220px;
            padding: 5px;
            background-color: #87CEEB;
            border: 5px solid white;
            border-radius: 15px;
            text-align: center;
        }

        .side-image {
            width: 100%;
            border-radius: 10px;
            border: 5px solid #E31C79;
        }

    </style>

</head>

<div class="text-center" style="background:white;">

  <div class="diviseur">

        @* -------------------------------------------*@
        @* ----------     Section Main     -----------*@
        @* -------------------------------------------*@

        <div>
            @* ----------Titre----------*@
            <div class="titre">
                <h1 class="display-1">Moo & Co.</h1>
                <h2>Leader mondial de l’exportation bovine</h2>
            </div>

            @* ----------Images Div----------*@
            <div class="image-Vache-Div">
                <img src="https://tse1.mm.bing.net/th?id=OIP.-9eiwvhsNs3N4o93pvqKEAHaFj&pid=Api&P=0&h=180" class="image-Vache" />

                <h1 class="info-Vache-Titre-1">Voici Nos Veches Populaires!</h1>
                <div class="info-Vache-Div">
                    <div>
                        <h1 class="info-Vache-Titre-2"> Francois </h1>
                        <h2 class="info-Vache-Section">Célèbre pour son lait de haute qualité. Idéale pour les producteurs laitiers.</h2>
                    </div>

                    <div >
                        <h1 class="info-Vache-Titre-2"> Vincent </h1>
                        <h2 class="info-Vache-Section"> Vache rustique avec une fourrure épaisse, parfaite pour les climats froids. </h2>
                    </div>
                </div>
            </div>

            @* ----------Section Bleu----------*@
            <div class="milieu-Div">
                <h1>Bienvenue a Moo & Co!</h1>

                <h4>
                    Chez Moo & Co, nous sommes fiers d’être le leader mondial de l’exportation de vaches.
                    Forts de notre expertise et de notre engagement envers la qualité, nous collaborons avec des éleveurs du monde entier
                    pour offrir les meilleures races bovines. Notre mission est de garantir un élevage durable et éthique,
                    tout en répondant aux besoins de nos partenaires internationaux.
                    Bienvenue dans l’univers de l’excellence bovine !
                </h4>
            </div>

            @* ----------Section Bleu----------*@
            <div class="commandes-Div">
                <div class="boutons-Div">
                    <h1>Creer Une Nouvelle Commande Avec Nous Aujourd’hui!</h1>
                    <br />
                    <a asp-controller="Home" asp-action="Commandes" class="btn btn-primary boutons">Creer</a>
                </div>
            </div>
        </div>

        @* -------------------------------------------*@
        @* ----------     Section Droit     ----------*@
        @* -------------------------------------------*@

        <div class="droit-section">
            <h2>Nos Clients Témoignent 📢</h2>
            <br />

            <p>⭐⭐⭐⭐⭐</p>
            <p>“Moo & Co. offre les meilleures vaches du marché! Service rapide et fiable.” –Jean Dupont</p>

            <p>⭐⭐⭐⭐⭐</p>
            <p>“La qualité est exceptionnelle, je recommande fortement!” –Sophie Morel</p>

            <p>⭐⭐⭐⭐⭐</p>
            <p>“Livraison rapide et animaux en parfaite condition. Très satisfait de mon achat.” -Amélie Dubois</p>

            <p>⭐⭐⭐⭐⭐</p>
            <p>“Des animaux bien traités, un service professionnel et des délais respectés.” -Thomas Berger</p>

            <p>⭐⭐⭐⭐⭐</p>
            <p>“Je fais affaire avec Moo & Co. depuis des années, toujours satisfait!” - Philippe Durand</p>

        </div>
    </div>  @* ------------  Fin des Section ICI  -----------------*@


    @* -------------------------------------------*@
    @* ----------     Section Bas     ----------*@
    @* -------------------------------------------*@
        <div class="footer1 display-1" >
              <h1>Fait amusantes sur les vaches!!</h1>

              <h4>
                    Meilleures amies – Les vaches ont des meilleures amies et deviennent stressées si elles sont séparées.
              </h4>
        </div>


</div>  
